<header class="py-3" style="background-color: #FF1801;">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FF1801;">
        <div class="container">
            <a class="navbar-brand fw-bold fst-italic" href="/">Formula 1 Statistics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Season
                        </a>
                        <ul class="dropdown-menu">
                            {% for season in seasons %}
                            <li><a class="dropdown-item" href="#">{{ season.season }}</a></li>
                            {% endfor %}
                        </ul>

                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>