<aside class="col-sm-2 flex-grow-sm-1 flex-shrink-1 flex-grow-0 sticky-top pb-sm-0 p-3">
    <ul class="nav flex-column text-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'f1:drivers' %}">Drivers</a>
        </li>
        <hr class="solid" style="border-color: black;">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'f1:constructors' %}">Constructors</a>
        </li>
        <hr class="solid" style="border-color: black;">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'f1:circuits' %}">Circuits</a>
        </li>
        <hr class="solid" style="border-color: black;">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'f1:races' %}">Races</a>
        </li>

    </ul>
</aside>